*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}
/* Header Start */
body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
}

.container {
    max-width: 980px;
    height: 1168.28px;
    margin: 0 auto;
    padding: 0.01em 16px;
}

.opacity-min {
    opacity: .75;
}

header {
    color: #ab3e3e;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.navigation_btn  ul li {
    display: inline-block;
    padding: 10px 16px;
    text-transform: uppercase;
}
.navigation_btn ul li a {
    color: #777;
    text-decoration: none;
}

.navigation_btn ul li:hover{
    background-color: #ccc;
    
}
.navigation_btn ul li:hover a{
    color: black;
    
}

.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    font-size: 15px;
}

.search_bar:hover{
    background-color: #f44336;
    color: white;
}

/* Header end */

/* Main Start */
main {
    width: 100%;
    min-height: 400px;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg__img {
    width: 100%;
    min-height: 400px;
    background-image: url(../images/parallax1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
}
.main_section {
    position: relative;
    background: #000000;
    padding: 10px 20px;
    opacity: 1;
    z-index: 22;
    opacity: .8;
    border-radius: 5px;
}
.main_section span {
    color: white;
    font-size: 35px;
    letter-spacing: 5px;
}
/* Main end */

/* About start */
.about {
    position: relative;
    line-height: 1.8;
    padding: 64px 0 64px 0;
}
.about__title {
    text-align: center;
    font-size: 24px;
    color: #777;
}

.about_content-paragraph1 {
    font-style: italic;
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}
.about_content-paragraph2 {
    color: #777;
    margin-bottom: 50px;
}

.about__me {
    display: flex;
}

.about__me-photo {
   padding-left: 20px;
}

.about__me-photo p {
    text-align: center;
    color: #777;
    margin: 20px 0 20px 0;
}
.about__me-photo_avatar {
    border-radius: 4px;
    opacity: 0.60;
    transition: 0.3s;
}

.about__me-photo_avatar:hover{
    opacity: 1;
}

.about__me-txt {
    font-size: 15px;
    padding: 12px 0  12px 50px;
    color: #777;
    line-height: 2.1;
}

/* About end */

/* Skills start */
.skills_me{
    width: 100%;
}

.skills_me-title{
    text-align: center;
    padding: 30px 0 30px 0;
    font-size: 18px;
    color: #777;
}
.skills_techno{
    letter-spacing: 10px;
    margin: 20px 0;
    color: #777;
}

.skills_status-bar{
    width: 100%;
    height: 35px;
    background-color: #f1f1f1;
}

.skills__photograph  .skills_status-bar-child{
    width: 90%;
    height: 100%;
    background-color: #616161;
    padding: 4px 8px;
    color: white;
    text-align: center;
}
.skills__web-design  .skills_status-bar-child{
    width: 85%;
    height: 100%;
    background-color: #616161;
    padding: 4px 8px;
    color: white;
    text-align: center;
}
.skills__photoshop  .skills_status-bar-child{
    width: 75%;
    height: 100%;
    background-color: #616161;
    padding: 4px 8px;
    color: white;
    text-align: center;
}
/* Skills end */

/* Customer Start */

.customer_consent{
    width: 100%;
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    background-color: #616161;
    color: white;
}

.center{
    text-align: center;
}

/* Customer End */

/* Portfolio Start */
.portfolio {
    width: 100%;
    height: 400px;
    background-image: url(../images/parallax2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30vmin;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-shadow: 0 0 20px white, 2px 3px 30px #98E4FF;
}
/* Portfolio End */